header{
	text-align: center;
	background-color: gray;
	padding: 5vh;
	font-size: 1.5em;
	font-family: sans-serif;
	
}

header h1{
	color: white;
	margin-left: -60vw;
	
}


nav ul{
	position: relative;
	margin-left: 50vw;
	margin-top: -3vh;
}


nav li{
	display: inline;
	margin: 0 0 0 1em;
}

nav a{
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
}

nav a:hover{
	color: #ffe600;
	text-decoration: underline;
}

/* INICIO DO BODY*/

/* RESETANDO VALORES */
a{
	color: white;
	text-decoration: none;
}

/* FIM RESETANDO VALORES*/

.background_img{
	position: absolute;
	width: 100%;
	height: 85%;
	filter: blur(3px);
	
}

.posts_index{
	display: grid;
	margin-top: -2em;
	color: white;
	font-family: sans-serif;
	
}

.post1{
	position: relative;
	width: 22vw;
	height: 50vh;

	padding: 1em;

	border-radius: 10px;

	background: rgb(122, 122, 122);

	box-shadow: 10px 10px 5px rgb(31, 31, 31);

	margin: 15vh 7vw;
}

.post2{
	position: relative;
	width: 22vw;
	height: 50vh;

	padding: 1em;

	border-radius: 10px;

	background: rgb(122, 122, 122);

	box-shadow: 10px 10px 5px rgb(31, 31, 31);

	margin: -63vh 34vw;

	
}

.post3{
	position: relative;
	width: 22vw;
	height: 50vh;

	padding: 1em;

	border-radius: 10px;

	background: rgb(122, 122, 122);

	box-shadow: 10px 10px 5px rgb(31, 31, 31);

	margin: -55vh 61vw;}

.posts_index h2{
	text-align: center;
	font-size: 1.6em;
	margin-top: 0.3em;
	
}

.linha_separadora{
	width:100%;
	height: 0.3%;;
	background-color: white;

	margin-top: 0.6em;;
}

.conteudo_post{
	padding: 1em;
	font-size: 1.2em;
}