<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/login.css">
    <link rel="javascript" href="login.js">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro TV Taubaté</title>
</head>
    <body>
        <main>
      
            <form method="post" action="/cria_cadastro">
              
              <h1>Cadastrar</h1>

              <label for="username">Email (também será seu ID):</label> <br>
              <input type="text" name="useremail" required><br><br>

              <label for="username">Usuario:</label> <br>
              <input type="text" name="username" required><br><br>
              
              <label for="password">Senha:</label> <br>
              <input type="password" name="password" required>
              
              <p><a href=" {{ url_for('index') }}"> Já possui conta?</a></p>

              <input type="submit" value="Cadastrar">
              <input type="reset" value="Limpar">
          </form> 
          </main>
        
    </body>
</html>
    
