<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <link rel= "stylesheet" href="../static/login.css">
        <script type="text/javascript" src="login.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Recuperar Senha</title>
    </head>

    <script>
        function Alerta_Enviado(){
            alert("Enviamos um link para recuperar sua senha no email cadastrado")
        }

    </script>
    <body>
        <main>
      
            <form method="POST" action="">
              
              <label form="username">Insira seu email:</label> <br>
              <input type="text" id="useremail" name="useremail"><br><br>
              <input type="submit" onclick="Alerta_Enviado()" value="Enviar">
              <!--<input type="button" onclick="funcao1()" value="Exibir Alert" />-->


          </form>

          </main>
    </body>  
</html>