{% extends 'template_head.html' %}

{% block head %} 
    <title>Perfil {{ username }}</title>
{% endblock %}


{% block content %}
    <img src="static/img/background_img.png" class='background_img'></img>
    <div class='foto_fundo'>
        
    </div>

    <div class='posts_index'>
        <div class='post1'><a href="#">
            <h2>teste 123</h2>
            <div class='linha_separadora'></div>
            <div class='conteudo_post'>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto odio ut dolores a distinctio totam doloremque deserunt voluptas accusantium aperiam. Ducimus, quod quam. Illo iusto vel eaque id, perferendis voluptate?
            </div>
        </div>
        </a>

        <a href="#">
            <div class='post2'>
                <h2>teste 456</h2>
                <div class='linha_separadora'></div>
                <div class='conteudo_post'>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum eius molestiae, totam voluptatum debitis fugit eaque dicta expedita, animi corporis ullam dolores nesciunt exercitationem quaerat ut, quis officia ad ex?
                </div>
            </div>
        </a>
        <a href="#">
            <div class='post3'>
                <h2>teste 789</h2>
                <div class='linha_separadora'></div>
                <div class='conteudo_post'>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Similique repudiandae suscipit dolor nemo voluptates voluptate neque pariatur ipsam accusantium minus asperiores saepe quia consequuntur, consectetur necessitatibus. Iusto voluptate perspiciatis suscipit.
                </div>
            </div>
        </a>
    </div>
    
    

{% endblock %}
