<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <link rel= "stylesheet" href="{{ url_for('static', filename='login.css') }}">
        <script type="text/javascript" src="login.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Login TV Taubaté</title>
    </head>

    <body>
        <main>
      
            <form action='/autenticar' method="post">
              <h1>Entrar</h1>
              <label class="label">Usuario:</label> <br>
              <input class='input' type="email" name="id" placeholder="Insira teu email" required><br><br>

              <label class="label">Senha:</label> <br>
              <input type="password" name="password" placeholder="Insira tua senha" required>

              <p><a href=" {{ url_for('muda_senha') }} ">esqueci minha senha</a></p>
              <button  type="submit" >Entrar</button>
              <a class='btn' href="{{ url_for('registrar') }}">Cadastrar</a>
          </form>

          </main>
    </body>  
</html>